@import './livo-colors.scss';
$link: $livo-link;

$info: $livo-info;
$success: $livo-success;
$warning: $livo-warning;
$danger: $livo-danger;
$dark: $livo-dark;

$menu-item-color: $livo-white;
$menu-item-hover-color: $livo-success;
$menu-item-hover-background-color: $livo-transparent;
$menu-item-active-color: $livo-success;
$menu-item-active-background-color: $livo-transparent;