$livo-link: #009f81;
$livo-success: #009f81;
$livo-white: #ffffff;
$livo-dark: #202a33;
$livo-danger: #eb3550;
$livo-success: #009f81;
$livo-warning: #fdcb1c;
$livo-info: #eb3550;
$livo-default: #f2f3f4;
$livo-transparent: transparent;
$livo-light: #f2f3f4;
$livo-gray: #ababab;